h1{
    color: black;
    background-color: yellow;
}
h2{
    color: yellow;
    background-color: black;
}
p{
<<<<<<< HEAD
    color: black;
    background-color: beige;
=======
    color: red;
    background-color: black;
<<<<<<< HEAD
>>>>>>> edit
=======
    background-attachment: fixed;
>>>>>>> edit
}